<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Login</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    <form class="user" id="user-login" enctype="application/json">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                id="login-user-name" name="username" placeholder="사용자 아이디 입력">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                id="login-user-password" name="password" placeholder="비밀번호 입력">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="input-local-storage">
                                                <label class="custom-control-label" for="input-local-storage">Remember
                                                    Me</label>
                                            </div>
                                        </div>
                                        <button id='btn-login' class="btn btn-primary btn-user btn-block">Login</button>
                                        <hr>
                                        <a href="/home/home_page" class="btn btn-google btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i> Login with Google
                                        </a>
                                        <a href="/home/home_page" class="btn btn-facebook btn-user btn-block">
                                            <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                        </a>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="/accounts/forgot_password_page">Forgot Password?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="/accounts/register_page">Create an Account!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <script>
        var g_urls = {
            'login': '{% url "login-api" %}',
            'logout': '{% url "logout-api" %}',
        };

        var g_auth = localStorage.getItem("auth");

        if(g_auth == null) {
            g_auth = sessionStorage.getItem("auth");
        }

        if(g_auth) {
            try {
                g_auth = JSON.parse(g_auth);
            } catch(error) {
                g_auth = null;
            }
        }

        var g_csrftoken = "{{csrf_token}}";

        var initLogin = function() {
            if(g_auth) {
                alert("g_auth : " + g_auth)
                if(g_auth.remember_me) {
                    localStorage.setItem("auth", JSON.stringify(g_auth));
                } else {
                    sessionStorage.setItem("auth", JSON.stringify(g_auth));
                }
            } else {
                localStorage.removeItem("auth");
                sessionStorage.removeItem("auth");
            }
        };

        // login start
        $('#btn-login').click(function(e){
            var username = $('#login-user-name').val();
            var password = $('#login-user-password').val();
            var remember_me = $('#input-local-storage').prop('checked');

            if(username && password) {
                $.ajax({
                    url: g_urls.login,
                    method: "POST",
                    type: 'POST',
                    async: false,
                    data: {
                        username: username,
                        password: password,
                        csrfmiddlewaretoken: g_csrftoken
                    },
                    success : function(data) {
                        g_auth = {
                            username: username,
                            key: data.token,
                            remember_me: remember_me
                        };

                        initLogin();

                        g_csrftoken = "{{csrf_token}}";

                        alert("DONE: " + data.user.username + ":" + data.token + ":::" + g_csrftoken);

                        url = "http://127.0.0.1:8000/home/home_page/";
                        $(location).attr('href', url);

                        alert("DONE 2");
                    },
                    error : function(data) {
                        console.log("ajax error");
                    },
                    complete : function(data) {
                        console.log("ajax complete");
                    }
                }).done(function(data) {
                    console.log("done : " + data);
                }).fail(function(data) {
                    console.log("fail : " + data);
                });
            } else {
                alert("error");
            }
        });
        // login end

        // 로그인 진행
        /*
        $('#btn-login').click(function(e){
            e.preventDefault();
            var url = $(this).attr('href');
            alert(url);
            var form = $('#user-login')[0];
            var formData = new FormData(form);

            var username = $('#login-user-name').val();
            var password = $('#login-user-password').val();

            alert(username + ":" + password);

            $.ajax({
                url : url,
                // enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                cache: false,
                method : 'POST',
                data: {
                    username: username,
                    password: password,
                    csrfmiddlewaretoken: g_csrftoken
                }
            }).done(function(data){

                alert(data);

                if(data.works){
                    alert('로그인되었습니다.')
                    location.reload();
                } else if(data.wrongInformation) {
                    alert('입력된 정보와 일치하는 회원 정보가 없습니다.');
                    $('#login-user-name').val("");
                    $('#login-user-password').val("");

                } else if(data.noEmail) {
                    alert('이메일 주소를 입력해주세요.');
                    $('#login-user-password').val("");
                } else if(data.noPassword) {
                    alert('비밀번호를 입력해주세요.');
                } else {
                    alert('정상 요청이 아닙니다.');
                }
            });
        });
        */
    </script>

</body>

</html>